.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.DS_Store
*.sqlite3
*.db
*.log
*.egg-info/
.cache/
.secrets.toml
secrets.toml
.streamlit/secrets.toml
node_modules/
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.old
*.zip
*.tar.gz
*.egg
*.coverage
.coverage.*
dist/
build/
.eggs/
*.ipynb_checkpoints

